body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #002b6b;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 18px;
  }
  
  .wrappper {
    width: 100%;
    margin: 0 auto;
  }
  
  canvas {
    color: white;
    border: white dashed 2px;
    padding: 15px;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
  }
  h1 {
    font-size: 2.6em;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 1.2em;
  }
  
  Button {
    background: #002b6b;
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    width: 35px;
    height: 35px;
    margin: 0 10px 10px 0;
    outline: none;
  }
  Button:hover {
    transition: 0.5s;
    background: black;
    border: solid 1px white;
    color: #002b6b;
  }
  
  .selected {
    background: rgb(0, 115, 203);
    border: solid 1px white;
    color: #002b6b;
  }
  
  .btn-2 {
    border-radius: 10px;
    background: #002b6b;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    margin: 0 10px 10px 0;
  
    outline: none;
  }
  .btn-2:hover {
    transition: 0.5s;
    background: black;
    border: solid 1px white;
    color: #002b6b;
  }

  /* nouveau code içi */

  #dialog::backdrop {
    background-color: rgba(93, 188, 251, 0.5);
  }

  #dialog[open]{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    height: 700px;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid #4276e6;
    box-shadow: 0px 0px 16px 0px rgba(93, 188, 251, 0.5);
  }

  #titre {
    padding-bottom:10px;
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid #6186d6;
  }

  #cours {
    text-align: center;
    padding-top: 10px;
  }

  #milieuDialog{
    justify-content:space-around;
    display: flex;
    flex-direction: row;
  }

  #basDialog{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #fermerDialog {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #386feb;
    color: white;
    font-size: 20px;
  }

  #nePlusAfficher {
    width: 200px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 12px;
    background-color: white;
    color: black;
  }

  button:hover {
    cursor: pointer;
  }
  